.jumbotron {
    background: url(../assets/alex-knight-326705-unsplash.jpg) no-repeat center;
    background-size: cover;
    color: var(--purple);
    text-shadow: 1px 1px var(--teal);
    text-align: left;
    font-family: var(--font-two);
}