:root {
    --red: #e80d0d;
    --orange: #f98500;
    --lightgreen: #00ff9f;
    --lightblue:#00b8ff;
    --darkblue: #001eff;
    --lightpurple: #d600ff;
    --purple: #bd00ff;
    --notblack: #292929;
    --gitgreen: #6cc644;
    --linkedblue: #0077B5;
    


    --font-one: 'Roboto', sans-serif;
    --font-two: 'Open Sans', sans-serif;

    /* Quicksand is other font */
}

